@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url("../../../teacher/common/css/common_header.min.css");/*공통헤더(y클라우드헤더와 동일 / 교사채널 css에서 import) */

@import url("_animate.min.css");
@import url("reset.min.css");
@import url("common.min.css");
@import url("layout.min.css");
@import url("component.min.css");
@import url("content.min.css");
@import url("popup.min.css");
@import url("schedule.min.css");