@import 'variables';

@mixin inline-grop{
  display: inline-block;
  vertical-align: middle;
} 

@mixin ellipsis{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}  

@mixin ellipsis2{ 
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: inherit;
  word-break: keep-all;
}

@mixin clearboth{
  &::after{
      content: ''; 
      display: block;
      clear: both;
  }
}

@mixin table{
  border-collapse: collapse;
  max-width: 100%;
}

@mixin scroll{
  overflow: auto;
  &::-webkit-scrollbar{
      width: 5px;
      height: 5px;
  }
  &::-webkit-scrollbar-thumb{
      background-color: #{$scrollbar}; 
      border-radius: 10px;
  }
  &::-webkit-scrollbar-track{
      background-color: #F1F1F1;
      border-radius: 10px;
  }
}

@mixin scroll2{
  @include scroll;
}

@mixin row-scroll {
  overflow-x: auto;
  white-space: nowrap;
  &::-webkit-scrollbar{
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #{$scrollbar};
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: #F1F1F1;
    border-radius: 10px;
    margin: 15px;
  }
}

@mixin basic-btn{
  @include inline-grop;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  box-sizing: border-box;
}

@mixin form-control{
  border: 1px solid #{$btn-border-color};
  border-radius: 5px;
  width: 100%;
  height: 50px;
}

@mixin box-fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

@mixin popupcont{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  width: 500px;
  border-radius: 20px;
  box-shadow: 3px 5px 20px rgba(69, 76, 83,0.2);
}

@mixin absolute-zero {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin absolute($x,$y,$w,$h) {
  position: absolute;
  left: $x;
  top: $y;
  width: $w;
  height: $h;
  @if $x == 50% and $y == 50% {
    transform: translate(-50% , -50%);
  } @else if $x == 50% {
      transform: translateX(-50%);
  } @else if $y == 50% {
      transform: translateY(-50%);
  }
}

@mixin absolute2($x,$y) {
  position: absolute;
  left: $x;
  top: $y;
  @if $x == 50% and $y == 50% {
    transform: translate(-50% , -50%);
  } @else if $x == 50% {
      transform: translateX(-50%);
  } @else if $y == 50% {
      transform: translateY(-50%);
  }
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

@mixin basic-btn02{
  background: #{$primary-bg-color};
  color: #{$base-text-rfcolor};
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin  flex-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin before($x,$y,$w,$h) {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: $x;
    top: $y;
    width: $w;
    height: $h;
    @if $x == 50% and $y == 50% {
      transform: translate(-50% , -50%);
    } @else if $x == 50% {
        transform: translateX(-50%);
    } @else if $y == 50% {
        transform: translateY(-50%);
    }
  }
}

@mixin after($x,$y,$w,$h) {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: $x;
    top: $y;
    width: $w;
    height: $h;
    @if $x == 50% and $y == 50% {
      transform: translate(-50% , -50%);
    } @else if $x == 50% {
        transform: translateX(-50%);
    } @else if $y == 50% {
        transform: translateY(-50%);
    }
  }
}

@mixin line-right($bg-color) {
  @include after(100%, 50%, 1px, 60%);
  &::after {
    background: $bg-color;
  }
}

@mixin line-left {
  @include after(0, 50%, 1px, 60%);
  &::after {
    background: #{$base-text-color};
  }
}

@mixin margin-between {
  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

@mixin padding-between {
  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

@mixin icon($w, $h) {
  @include inline-grop;
  width: $w;
  height: $h;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@mixin flex-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


// mobile
@mixin media-mobile {
  @media (max-width: #{$breakpoint-mobile}) {
      @content;
    }
}

// tablet
@mixin media-tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop-1px}) {
      @content;
    }
}

@mixin chk-input {
  display: none;
}
@mixin chk-label {
  background: #{$base-text-rfcolor};
  color: #{$scrollbar};
  border-radius: 20px;
  padding: 6px 20px;   
}
@mixin basic-radio {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  color: #{$section-title-color};
}
@mixin basic-radio-before{
  content: '';
  display: block;
  //margin-right: 10px;  
  width: 20px;
  height: 20px;
  background: url(#{$img-url}ico_radio_md.svg)no-repeat center / contain;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
@mixin basic-radio-checked-after{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url(#{$img-url}ico_radio_md_check.svg)no-repeat center / contain;
}



