@import 'variables';
@import 'breakpoint';
@import 'common';

.mg-top-5 { 
    margin-top: 5px;
}
.mg-top-10 { 
    margin-top: 10px;
}
.mg-top-15 { 
    margin-top: 15px;
}
.mg-top-20 { 
    margin-top: 20px;
}
.mg-top-25 { 
    margin-top: 25px;
}
.mg-top-30 { 
    margin-top: 30px;
}
.mg-top-35 { 
    margin-top: 35px;
}
.mg-top-40 { 
    margin-top: 40px;
}
.mg-top-45 { 
    margin-top: 45px;
}
.mg-top-50 { 
    margin-top: 50px;
}
.mg-top-55 { 
    margin-top: 55px;
}
.mg-top-60 { 
    margin-top: 60px;
}
.mg-top-65 { 
    margin-top: 65px;
}
.mg-top-70 { 
    margin-top: 70px;
}
.mg-top-75 { 
    margin-top: 75px;
}
.mg-top-80 { 
    margin-top: 80px;
}
.mg-top-85 { 
    margin-top: 85px;
}
.mg-top-90 { 
    margin-top: 90px;
}
.mg-top-95 { 
    margin-top: 95px;
}
.mg-top-100 { 
    margin-top: 100px;
}

.mg-bottom-5 { 
    margin-bottom: 5px;
}
.mg-bottom-10 { 
    margin-bottom: 10px;
}
.mg-bottom-15 { 
    margin-bottom: 15px;
}
.mg-bottom-20 { 
    margin-bottom: 20px;
}
.mg-bottom-25 { 
    margin-bottom: 25px;
}
.mg-bottom-30 { 
    margin-bottom: 30px;
}
.mg-bottom-35 { 
    margin-bottom: 35px;
}
.mg-bottom-40 { 
    margin-bottom: 40px;
}
.mg-bottom-45 { 
    margin-bottom: 45px;
}
.mg-bottom-50 { 
    margin-bottom: 50px;
}
.mg-bottom-55 { 
    margin-bottom: 55px;
}
.mg-bottom-60 { 
    margin-bottom: 60px;
}
.mg-bottom-65 { 
    margin-bottom: 65px;
}
.mg-bottom-70 { 
    margin-bottom: 70px;
}
.mg-bottom-75 { 
    margin-bottom: 75px;
}
.mg-bottom-80 { 
    margin-bottom: 80px;
}
.mg-bottom-85 { 
    margin-bottom: 85px;
}
.mg-bottom-90 { 
    margin-bottom: 90px;
}
.mg-bottom-95 { 
    margin-bottom: 95px;
}
.mg-bottom-100 { 
    margin-bottom: 100px;
}

.mg-lf-5 { 
    margin-left: 5px;
}
.mg-lf-10 { 
    margin-left: 10px;
}
.mg-lf-15 { 
    margin-left: 15px;
}
.mg-lf-20 { 
    margin-left: 20px;
}
.mg-lf-25 { 
    margin-left: 25px;
}
.mg-lf-30 { 
    margin-left: 30px;
}
.mg-lf-35 { 
    margin-left: 35px;
}
.mg-lf-40 { 
    margin-left: 40px;
}
.mg-lf-45 { 
    margin-left: 45px;
}
.mg-lf-50 { 
    margin-left: 50px;
}

.mg-rt-5 { 
    margin-right: 5px;
}
.mg-rt-10 { 
    margin-right: 10px;
}
.mg-rt-15 { 
    margin-right: 15px;
}
.mg-rt-20 { 
    margin-right: 20px;
}
.mg-rt-25 { 
    margin-right: 25px;
}
.mg-rt-30 { 
    margin-right: 30px;
}
.mg-rt-35 { 
    margin-right: 35px;
}
.mg-rt-40 { 
    margin-right: 40px;
}
.mg-rt-45 { 
    margin-right: 45px;
}
.mg-rt-50 { 
    margin-right: 50px;
}

.ico-file{
    @include inline-grop;
    width: 25px; 
    height: 25px;
    border-radius: 5px;
    &.asf{
        background: url(#{$img-url}ico_file_asf.svg)no-repeat center / contain;  
    }
    &.avi{
        background: url(#{$img-url}ico_file_avi.svg)no-repeat center / contain;  
    }
    &.doc{
        background: url(#{$img-url}ico_file_doc.svg)no-repeat center / contain;
    }
    &.docx{
        background: url(#{$img-url}ico_file_docx.svg)no-repeat center / contain; 
    }
    &.etc{
        background: url(#{$img-url}ico_file_etc.svg)no-repeat center / contain; 
    }
    &.gif{
        background: url(#{$img-url}ico_file_gif.svg)no-repeat center / contain; 
    }
    &.hwp{
        background: url(#{$img-url}ico_file_hwp.svg)no-repeat center / contain; 
    }
    &.jpeg{
        background: url(#{$img-url}ico_file_jpeg.svg)no-repeat center / contain; 
    }
    &.jpg{
        background: url(#{$img-url}ico_file_jpg.svg)no-repeat center / contain;
    }
    &.link{
        background: url(#{$img-url}ico_file_link.svg)no-repeat center / contain; 
    }
    &.mkv{
        background: url(#{$img-url}ico_file_mkv.svg)no-repeat center / contain; 
    }
    &.mov{
        background: url(#{$img-url}ico_file_mov.svg)no-repeat center / contain;
    }
    &.mp3{
        background: url(#{$img-url}ico_file_mp3.svg)no-repeat center / contain;
    }
    &.mp4{
        background: url(#{$img-url}ico_file_mp4.svg)no-repeat center / contain; 
    }
    &.mpeg{
        background: url(#{$img-url}ico_file_mpeg.svg)no-repeat center / contain;
    }
    &.mpg{
        background: url(#{$img-url}ico_file_mpg.svg)no-repeat center / contain; 
    }
    &.pdf{
        background: url(#{$img-url}ico_file_pdf.svg)no-repeat center / contain;  
    }
    &.png{
        background: url(#{$img-url}ico_file_png.svg)no-repeat center / contain; 
    }
    &.ppt{
        background: url(#{$img-url}ico_file_ppt.svg)no-repeat center / contain;
    }
    &.pptx{
        background: url(#{$img-url}ico_file_pptx.svg)no-repeat center / contain;  
    }
    &.txt{
        background: url(#{$img-url}ico_file_txt.svg)no-repeat center / contain;
    }
    &.wmv{
        background: url(#{$img-url}ico_file_wmv.svg)no-repeat center / contain;
    }
    &.xls{
        background: url(#{$img-url}ico_file_xls.svg)no-repeat center / contain;
    }
    &.xlsx{
        background: url(#{$img-url}ico_file_xlsx.svg)no-repeat center / contain;
    }
    &.youtube{
        background: url(#{$img-url}ico_file_youtube.svg)no-repeat center / contain;
    }
    &.zip{
        background: url(#{$img-url}ico_file_zip.svg)no-repeat center / contain;
    }
    &.nanum{
        background: url(#{$img-url}ico_file_nanum.svg)no-repeat center / contain;
    }
    &.on-con{
        background: url(#{$img-url}ico_file_on_con.svg)no-repeat center / contain;
    }
    &.on-con2{
        background: url(#{$img-url}ico_file_on_con_on.svg)no-repeat center / contain;
    }   
    &.bmp{
        background: url(#{$img-url}ico_file_bmp.svg)no-repeat center / contain;
    }
    &.wav{
        background: url(#{$img-url}ico_file_wav.svg)no-repeat center / contain;
    }
    &.ogg{
        background: url(#{$img-url}ico_file_ogg.svg)no-repeat center / contain;
    }
    &.wma{
        background: url(#{$img-url}ico_file_wma.svg)no-repeat center / contain;
    }
    &.m4a{
        background: url(#{$img-url}ico_file_m4a.svg)no-repeat center / contain;
    }
}
.ico{
    @include inline-grop;
    width: 30px; 
    height: 30px;
    &.qz-ox{
        background: url(#{$img-url}qz_type_ox.svg) no-repeat center center;
    }
    &.qz-sel{
        background: url(#{$img-url}qz_type_quiz.svg) no-repeat center / contain;
    }
    &.qz-input{
        background: url(#{$img-url}qz_type_input.svg) no-repeat center center;
    }
    &.refresh{
        background: url(#{$img-url}ico_refresh.svg) no-repeat center center;
    }
    &.qz-survey{
        background: url(#{$img-url}qz_type_survey.svg) no-repeat center / contain;
    }
}

.select-box{
    position: relative;
    .select{
        position: relative;
        z-index: 1;
        background: none;
        @include ellipsis;
        width: 100%;
    }
    &.active{
        &:after{
            transform: rotate(180deg);
            top: 6px;
        }
        .list{
            display: block;
        }
    }
    &:after{
        content: url(#{$img-url}arw_toggle.svg);
        position: absolute;
        top: 10px;
        right: 16px;
        z-index:2;
    }
    .list{
        display: none;
        position: absolute;
        top: 35px;
        left: 0;
        right: 0;
        max-height: 260px;
        overflow: auto;
        z-index: 10;
        @include scroll;
        background: #fff;
        border: 1px solid #{$base-border-color};
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        li{
            cursor: pointer;            
            font-size: 14px;
            color: #{$base-text-color2};
            transition: all .3s ease;
            padding: 0 10px;
            line-height: 34px;
            span{
                position: relative;
                padding-right: 30px;
                @include ellipsis;                
                display: block;
                box-sizing: border-box;
                &.plus{
                    &:after{
                        content: "+";
                        position: absolute;
                        top: 50%;
                        right: 0;
                        width: 15px;
                        height: 15px;
                        border: 1px solid #{$base-border-color};
                        border-radius: 50px;
                        line-height: 15px;
                        text-align: center;
                        color: #{$disabled-txt};
                        transform: translateY(-50%);
                        background: #{$regular-bgcolor};
                    }
                }
                &.on{
                    &:after{
                        content: "-";
                    }
                }
            }
            &+li{
                border-top: 1px dotted #{$base-border-color};
            }
            &:hover{
                //color: #{$primary-color};
                //font-weight: 600;
            }
            &.active{
                color: #{$primary-color};
            }
            ul{
                background: #{$bg-gray2};
                margin: 0 -10px;
                padding: 0 0 0 16px;
                li{
                   position: relative;
                   border: 0px none;
                    &:before{
                        content: "ㄴ";
                        position: absolute;
                        top: -2px;
                        left: -6px;
                        color: #{$scroll-thumb};
                    }
                }
                li{
                    ul{
                        background: #{$bg-gray};
                        margin: 0 -10px 0 -26px;
                        padding: 0 0 0 26px;
                        li{
                            position: relative;
                            border: 0px none;
                             &:before{
                                 content: "ㄴ";
                                 position: absolute;
                                 top: -2px;
                                 left: -6px;
                                 color: #{$scroll-thumb};
                             }
                         }
                    }
                }
            }
        }
    }
    .select{
      margin-bottom: 10px;
    }
    &.type-a{
        .select{
            @include cont-body-select;
        }
    }
    &.type-b{
        .select{
            @include cont-body-select;
        }
    }
}
.form-wrap{
    @include inline-grop;
    position: relative;
    &.type-a{
        display: block;
        width: 100%;
    }
    &.type-b{
        margin-right: 0;
    }
    &.hidden{
        display: none;
    }
}
.basic-control{
    @include chk-input;
}
.basic-control ~ .basic-radio{
    @include basic-radio;
}
.basic-control ~ label:before{
    @include basic-radio-before;
}
.basic-control ~ .basic-radio:before{
    @include basic-radio-before;
}
.basic-control:checked ~ label:before {
    @include basic-radio-checked-before;
}
.basic-control:checked ~ label:after {
    @include basic-radio-checked-after;
}
.basic-control.type-a ~ .basic-radio{
    padding-left: 0;
    width: 15px;
    display: block;
    font-weight: 400;
}
.basic-control.type-a ~ .basic-radio:before{
    border-radius: 0;
    border: 1px solid #{$base-border-color};
    width: 13px;
    height: 13px;
    background-color: #{$primary-opp};
}
.basic-control.type-a:checked ~ label:after {
    background: url(#{$img-url}ico_chk_box.svg)no-repeat center / contain;
    width: 15px;
    height: 15px;
    border-radius: 0;
    left: 0;
}
.basic-control.type-b ~ .basic-radio{
    padding-left: 0;
    display: block;
    font-size: 16px;
    padding-left: 30px;
    font-weight: 400;
}
.basic-control.type-b ~ .basic-radio:before{
    border-radius: 0;
    border: 1px solid #{$base-border-color};
    width: 18px;
    height: 18px;
    background-color: #{$primary-opp};
}
.basic-control.type-b:checked ~ label:after {
    background: url(#{$img-url}ico_chk_box.svg)no-repeat center / contain;
    width: 20px;
    height: 20px;
    border-radius: 0;
    left: 0;
}
.basic-control.type-c ~ label{
    padding-left: 0;
    display: block;
    font-size: 16px;
    padding-left: 30px;
    font-weight: 400;
}
.basic-control.type-c ~ label:before{
    border-radius: 3px;
    border: 1px solid #{$base-border-color};
    width: 18px;
    height: 18px;
    background: #{$primary-opp};
}
.basic-control.type-c:checked ~ label:after {
    background: url(#{$img-url}ico_chk_check.svg)no-repeat center / contain;
    width: 20px;
    height: 20px;
    border-radius: 0;
    left: 0;
}

.status{
    display: inline-block;
    font-size: 0.875em;
    height: 20px;
    line-height:20px;
    border-radius: 50px;
    padding: 0 10px;
    color: #{$primary-opp};    
    
    &.process{
        background: #{$status-process};
        border: 1px solid #{$status-process};
        display: inline-block;
        padding-top: 0;
    }
    &.off{
        background: #{$status-off};
        border: 1px solid #{$status-off};
        display: inline-block;
        padding-top: 0;
    }
    &.exp{
        background: #{$status-exp};
        border: 1px solid #{$status-exp};
        display: inline-block;
        padding-top: 0;
    }
}
.target{
    display: inline-block;
    font-size: 0.875em;
    height: 20px;
    line-height:20px;
    border-radius: 50px;
    padding: 0 10px;
    border: 1px solid #{$base-border-color};
    &.nodata{
        background: #{$bg-gray};
    }
}
.state-val{
    position: absolute;
    top: 0;
    left: 0;
    @include inline-grop;
    .btns{
        width: 40px;
        height: 40px;
        &.sound{
            background: url(#{$img-url}ico_sounds.svg)no-repeat center / contain;
        }
        &.pause{
            background: url(#{$img-url}ico_pause_navy.svg)no-repeat center / contain;
        }
    }
}
.v-controll{
    input[type=range]{ 
        width:100%; 
        -webkit-appearance: none; 
        background: #{$volumn-track};
        height: 5px;
        border-radius: 10px;
        &::-webkit-slider-thumb{
            -webkit-appearance: none;
            appearance: none;
            background: #{$volumn-current};
            width: 13px;
            height: 13px;
            border-radius: 50px;
        }    
        &::-ms-track{
            width: 100%;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            color: transparent;
        }
    }
}
.switch-wrap{
    height: 30px;
    overflow: hidden;
}
.switch {
    position: absolute;
    /* hidden */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:checked{
        &+.switch-label{
            background: #{$primary-color};
            .onf-btn{
                left: 34px;
                background: #fff;
                &:after{
                    content: "ON";
                    position: absolute;
                    top: 50%;
                    left: -25px;
                    font-size: 12px;
                    color: #fff;                    
                    transform: translateY(-50%);
                    line-height: 1em;
                }
            }
        }
    }
}  
.switch-label{
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 58px;
    height: 100%;
    background: #{$disabled-btn};
    border-radius: 20px;
    transition: 0.2s;
    box-sizing: border-box;
    }
    .onf-btn{
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #{$disabled-txt};
    transition: 0.2s;
    &:after{
        content: "OFF";
        position: absolute;
        top: 50%;
        right: -25px;
        font-size: 12px;
        transform: translateY(-50%);
        color: #{$disabled-btn2};
        line-height: 1em;
    }
}