@import 'variables';
@import 'common';

.component-viewer{
    padding: 30px;
    .component-box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        h1{
            display: inline-block;
            margin-bottom: 20px;
        }
        h2{
            display: inline-block;
            vertical-align: 2px;
            font-size: 1em;
            border-left: 1px solid #{$base-border-color};
            margin: 0 0 0 10px;
            padding: 0 0 0 10px;
        }
        h3{
            background: #f6f6f6; 
            border: 1px solid #dadada;
            padding: 10px;
            text-align: center;
            font-size: 1em;
            border-radius: 6px;
            margin-bottom: 10px;
        }
        .box{
            padding: 20px;
            background: #fff;
            box-shadow: 0 0 15px rgba(0,0,0,0.15);
            border-radius: 15px;
        }
        .float-submenu{
            display: block;
            position: relative;
            top: 0 ! important;
            left: 0 ! important;
            margin: 0 auto;
        }
    }
}
.border-wrap{
    .inner{
        border: 0px none;
        //padding: 0;
        .in-box{
            img{
                //max-width: none ! important;
            }
        }
    }
}
.state-val{
    position: absolute;
    top: 20px;
    left: 0;
    right: auto;
}
.t-tip{
    position: fixed;
    left: 100px;
    bottom: 216px;
    &:hover{
        .balloon{
            visibility: visible;
        }
    }
    .balloon{
        min-width: 380px;
        visibility: hidden;
        &.right{
            top: -10px;
            left: 25px;
            right: auto;
        }
    }
}
.pdf-viewer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 0 auto;
    &>div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .page{
        position: relative;
        margin: 0 5px;
        canvas{
            width: 100%;
            height: auto;
            position: relative;
            z-index: 50;
        }
        img{
            &.overlap{
                width: 100%;
                height: auto;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        /*
        .fixBox{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 100;
            img{
                position: absolute; 
            }
        }
        */
    }
}
.answer-box{
    p{
        background: transparent;
        padding: 0;
    }
    &.hidden{
        display: none;
    }
}
.quiz-result{
    width: 100%;   
    overflow: hidden;
    &.type-a{
        height: 360px;
        max-height: 360px;
    }
}
.type-ox{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 -20px;
    height: 100%;
    .result-box{
        flex: 1;
        text-align: left;
        padding: 0 20px;
        &+.result-box{
            border-left: 1px solid #{$base-border-color};
        }
        &.result-o{
            .dv-header{
                p{
                    background: #{$point-color2};
                }
            }
            .opn-list{
                .article{
                    .user-info{
                        span{
                            background: #{$point-color2};
                        }
                    }
                }
            }
        }
        &.result-x{
            .dv-header{
                p{
                    background: #{$primary-color};
                }
            }
            .opn-list{
                .article{
                    .user-info{
                        span{
                            background: #{$primary-color};
                        }
                    }
                }
            }
        }
        .dv-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            border: 5px solid #{$base-border-color};
            border-radius: 15px;
            padding: 15px;
            img{
                max-width: 25px;
            }
            p{
                margin-left: auto;
                color: #{$primary-opp};
                padding: 6px 15px;
                border-radius: 5px;
                font-weight: 600;
            }
        }
        .opn-list{
            height: calc(100% - 90px);
            margin-top: 10px;
            @include scroll;
            .article{
                @include articleTimeline;
            }
        }
    }
}
.masonry-layout{
    position: relative;
    width: 100%;
    .grid{
    }
    .grid-sizer, .grid-item{
        width: calc(100% / 2);
    }
    .grid-item{
        border-radius: 10px;
        padding: 10px;
        text-align: left;
        .article{
            @include articleTimeline;
        }
    }
    .article{
        .user-info{
            span{
                background: #{$point-color2};
            }
        }
    }
}
.sbj-tabs{
    display: flex;
    align-items: center;
    text-align: left;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    margin: 20px 30px 0 30px;
    min-width: 1024px;
    box-sizing: border-box;
    &.type-a{
        min-width: 100%;
        margin: 10px 0 20px;
        // .sbj{
        //     &:first-child{
        //         &.current{
        //             border-color: #{$bg-gray2};
        //             border-right: 1px solid #{$bg-gray2};
        //         }
        //     }
        // }
    }
    .sbj{
        width: 80px;
        position: relative;
        background: #{$select-bg1};
        border-top: 1px solid #{$base-border-color};
        border-bottom: 1px solid #{$base-border-color};
        &:first-child{
            border-radius: 10px 0 0 10px;
            border-left: 1px solid #{$base-border-color};
            overflow: hidden;
            &.current{
                border-left-color: #{$point-color};
            }
        }
        &:last-child{
            border-radius: 0 10px 10px 0;
            border-right: 1px solid #{$base-border-color};
            overflow: hidden;
            &.current{
                border-right-color: #{$point-color};
            }
        }
        &+.sbj{
            border-left: 1px solid #{$base-border-color};
        }
        &.current{
            width: calc(100% - 720px);
            background: #{$regular-bgcolor};
            border-color: #{$point-color};
            &+.sbj{
                border-left-color: #{$point-color};
            }
            p{
                color: #{$point-color};
                background: #{$point-color};
                color: #{$primary-opp};
                padding: 0 20px;
                span{
                    background: #{$point-color2};
                    color: #{$primary-opp};
                }
            }
            h2{
                display: block;
            }
        }
        p{
            padding-left: 10px;
            font-weight: 600;
            font-size: 1.35em;
            span{
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                border-radius: 15px;
                background: #{$disabled-btn};
                font-size: 0.625em;
                font-weight: 400;
                height: 30px;
                line-height: 30px;
                min-width: 30px;
                text-align: center;
            }
        }
        a{
            display: flex;
        }
        h2{
            font-size: 1.2em;
            display: none;
            padding-left: 10px;
        }
    }
}
.blind-box{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 500px;
    height: 150px;
    color: #fff;
    cursor: pointer;
    z-index: 100;
    //border-bottom-right-radius: 48px;
    border: 1px solid #{$cont-border-color};
    background: #{$post-bg-color};
    /*&::before{
        content: '';
        display: block;
        position: absolute;
        right: -5px;
        bottom: -4px;
        background: url(#{$img-url}ico_post.svg)no-repeat center / contain;
        width: 50px;
        height: 47px;
    }*/
}

.play-view{
    width: 350px;
    height: 350px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &::after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: #{$disabled-btn};
        transition: 0.6s all;
    }
    &.play{
        &::after{
            animation-name: play;
            animation-duration: 0.7s;
            animation-delay: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-direction: alternate;
            background: #{$regular-bgcolor};
        }
    }
    .inn{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        .file-n{
            display: block;
            font-size: 28px;
            color: #{$disabled-btn2};
            font-weight: 700;
        }        
    }
}
@keyframes play{
    0%{
        transform: scale(1);
     }
    // 50%{
    //     -webkit-filter: blur(4px);
    //     -moz-filter: blur(4px);
    //     -o-filter: blur(4px);
    //     -ms-filter: blur(4px);
    // }
    100%{
        transform: scale(1.1);
        // -webkit-filter: blur(20px);
        // -moz-filter: blur(20px);
        // -o-filter: blur(20px);
        // -ms-filter: blur(20px);
    }
}

.conts-swipe-wrap{
    &.type-a{
        padding: 0 80px;
        position: relative;
        width: 100%;
        height: 100%;
        .pager{
            display: block;
        }
    }
    .pager{
        display: none;
        .page{
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 20px;
            font-size: 1.4em;
            line-height: 1.6em;
            color: #{$point-color};
            background-color: #{$regular-bgcolor};
            border-radius: 20px;
            padding: 0 20px;
            box-shadow: 0 1px 8px rgba(0,0,0,0.2);
            em{
                color: #{$primary-color};
            }
        }
        .btns{
            position: absolute;
            top: 50%;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            background-color: #{$regular-bgcolor};
            box-shadow: 0 1px 8px rgba(0,0,0,0.2);
            &::before{
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -15px;
            }
            &.left{
                left: 10px;
                &::before{
                    background: url(#{$img-url}arrow_pgn.svg) no-repeat center / contain;
                    transform: rotate(-180deg);
                    margin-left: -18px;
                }
            }
            &.right{
                right: 10px;
                &::before{
                    background: url(#{$img-url}arrow_pgn.svg) no-repeat center / contain;
                    margin-left: -12px;
                }
            }
        }
    }
}