// font, color
$font-stack: 'Roboto', 'Noto Sans KR', sans-serif;
$base-bgcolor: #edeef2;
$base-font-weight: 400; 
$base-line-height: 1.4;
$base-radius: 4px;
$base-font-size: 14px;
$circle-btn-size: 85px;
$base-text-color: #505050;
$base-text-color2: #222222;
$base-text-rfcolor: #ffffff;
$base-border-color: #C9CDD2;
$base-hover-color: #111111;
$base-active-color: #b0b0b0;
$primary-color: #ff5c5c;
$active-color: #0F3653;
$gnb-scroll-color:#112D41;
$section-title-color: #1B1D1F;
$base-button-color: #454C53;
$family-color-r: #D04242;
$family-color-g: #F97474;
$family-color-l: #E45B5B;
$family-color-m: #FECECE;
$family-color-s: #FFEEEE;
$guide-color: #9EA4AA;
$button-bgcolor: transparent;
$disabled-color: #C9CDD2;
$disabled-bg: #E8EBED;
$scrollbar: #72787F;
$secondary-color: #FFB643;
$sfamily-color-s: #FFF4E3;
$sunday-color: #FF5277;
$satday-color: #63B1FF;
$today-color: rgba(255,82,119,0.15);
$cal-personal: #60CBBA;
$cal-class: #FF5C5C ;
$cal-exam: #63B1FF;
$side-radius: 0 30px 30px 0;
$gnb-dropdown-bg: #122f43;
$bg-color-g: #5AB448;
$bg-color-g2: #F7F8F9;
$cont-border-color: #D5D5D5;
$table-header: #F9F9F9;
$lesson-term: #e8edf1;
$class-btn: #157FCE;
$tooltip-color: #808080;
$line-color: #E1E1E1;
$flag-base: #7f7f80;
$flag-top1: #ff5c5c;
$flag-top2: #157FCE;
$flag-top3: #FFB643;
$txt-base-color: #303D53;
$td-hover: #f6f6f6;
$guide-line: #EFEFEF;
$guide-line2: #707070;
$guide-line3: #F5F5F5;
$guide-line4: #666666;
$guide-line5: #20A2F8;
$guide-line6: #FFB300;
$guide-line7:#E7F2FA;
$guide-line8: #DADBDC;
$guide-line9: #00FFFF;
$guide-value: #FFAE43;
$go-link: #6DD9FE;
$box-border: #EBEBEB;
$box-bg: #FAFAFA;
$tl-color: #454545;
$tl-color2: #00A58A;
$table-color : #ECECEC;
$btn-color : #D5D5D5;
$btn-color2 :#8D3C41;
$btn-color3 :#D5F8D8;
$btn-color4 :#E0F4F1;
$btn-color5: #FFE9D6;
$btn-color6: #26282B;
$btn-color7: #DFDFDF;
$btn-color8: #B6C2CB;
$btn-color9: #E2E5E6;
$sch-color:#F0F4FD;
$sch-color2: #E9FFEF;
$sch-color3: #5DB54B;
$sch-color4: #CDD0D5;
$sch-color5: #FFF1F1;
$sch-color6: #E9F6FF;
$sch-color7: #F1FFEE;
$sch-color8: #FFF8EE;
$sch-color9:#9B1F1F;
$sch-color10:#1547B7;
$sch-color11:#598CFF;
$sch-color12:#C5CACF;
$sch-color13:#FFB7B7;
$sch-color14:#4367BB;
$sch-color15:#C9DAFF;
$sch-bg-color: #E5EDFF;
$dimd-color: #F0F0F1;
$sch-btn-color: #8699A8;
$txt-bg-color: #FFE1E1;
$txt-bg-color2: #E5E5E5; 
$admin-color: #E8473F;
$admin-color2: #004EA1;
$parents-color: #15BF91;

// layout
$w-max-width: 1280px;
$wm-max-width: 1100px;
$m-max-width: 767px;
$container-max-width: 1834px;
$container-min-width: 1100px;
$side-bar-width: 230px;
$side-minibar-width: 94px;
$sd-max-width: 295px;
$box-width-md: 610px;

// column
$col-count: 106px;
$col-term: 260px; 
$d-date: 50px;

// Breakpoints
$breakpoint-mobile: 335px;
$breakpoint-tablet: 768px; //현재는 이 값만 사용중
$breakpoint-desktop: 1024px;
$breakpoint-desktop-sm: 1280px;
$breakpoint-desktop3-md: 1480px;
$breakpoint-desktop3-lg: 1680px;

// url
$img-url: '../../img/common/';
$img-temp-url: '../../img/temp/';